body {
    background: black;
    color: white;
    font-family: "Lato", sans-serif;

    -webkit-perspective: 500px;
    perspective: 500px;
}

div#main {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 100vw;
    min-height: 100vh;
}

div#sidebar {
    position: absolute;
    top: 0;
    left: 0;

    width: 20%;
    height: 100%;

    padding: 0.5em;

    z-index: 10;
}

div#content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;
}

div#video-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    opacity: 0.3;
}

video#video-elem {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    -webkit-filter: blur(5px);
    filter: blur(5px);
}

div.full-frame {

}

div.left-padded-frame {
    padding-left: 20%;
}
