body {
    background: rgba(6, 6, 10, 1);
    color: white;
    font-family: "Lato", sans-serif;
}

div#main {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    -webkit-perspective: 1200px;
    perspective: 1200px;

    -webkit-perspective-origin: top center;
    perspective-origin: top center;
}

div#content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

div#video-container {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    opacity: 0.3;
}

video#video-elem {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;

    -webkit-filter: blur(5px);
    filter: blur(5px);
}

div#title-container {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: rgba(254, 242, 4, 0.1);

    -webkit-transform: translateX(0%) translateY(10%) matrix(1, -0.4, 0.8, 1, 0, 0);
    transform: translateX(0%) translateY(10%) matrix(1, -0.4, 0.8, 1, 0, 0);

    padding: 0.5em;

    border: 2px solid white;
}

div#summary-container {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: rgba(36, 195, 178, 0.1);

    -webkit-transform: translateX(-100%) translateY(-64%) matrix(1, -0.4, 0, 1, 0, 0);
    transform: translateX(-100%) translateY(-64%) matrix(1, -0.4, 0, 1, 0, 0);

    padding: 0.5em;

    border: 2px solid white;
}

span#title-d2 {
    font-size: 2em;
}

i#up {
    position: absolute;
    top: 0.5em;
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

i#down {
    position: absolute;
    bottom: 0.5em;
    left: 50%;

    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.clickable:hover {
    color: cyan;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.crop-frame {
    overflow: hidden;
}

div.full-frame {

}

div.padded-frame {
    padding: 6em;
}
